{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Achievement list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Color</th>
                <th>Picture</th>
                <th>Public</th>
                <th>Approved</th>
                <th>Onetime</th>
                <th>Max</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('achie_backend_achievement_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.color }}</td>
                <td>{{ entity.picture }}</td>
                <td>{{ entity.public }}</td>
                <td>{{ entity.approved }}</td>
                <td>{{ entity.onetime }}</td>
                <td>{{ entity.max }}</td>
                <td>{{ entity.value }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('achie_backend_achievement_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('achie_backend_achievement_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('achie_backend_achievement_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
