{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Achievement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ entity.color }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ entity.picture }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ entity.public }}</td>
            </tr>
            <tr>
                <th>Approved</th>
                <td>{{ entity.approved }}</td>
            </tr>
            <tr>
                <th>Onetime</th>
                <td>{{ entity.onetime }}</td>
            </tr>
            <tr>
                <th>Max</th>
                <td>{{ entity.max }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ entity.value }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('achie_backend_achievement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('achie_backend_achievement_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
